@charset "UTF-8";


/* TH Sarabun New */
@font-face{
    font-family:'TH Sarabun New'; font-weight:300; font-style:normal;
    src:url('./THSarabunNew/THSarabunNew.ttf') format('truetype');
}
@font-face{
    font-family:'TH Sarabun New'; font-weight:300; font-style:italic;
    src:url('./THSarabunNew/THSarabunNew_Italic.ttf') format('truetype');
}
@font-face{
    font-family:'TH Sarabun New'; font-weight:600; font-style:normal;
    src:url('./THSarabunNew/THSarabunNew_Bold.ttf') format('truetype');
}
@font-face{
    font-family:'TH Sarabun New'; font-weight:600; font-style:italic;
    src:url('./THSarabunNew/THSarabunNew_BoldItalic.ttf') format('truetype');
}
