
/* Super Topnav */
nav.super-topnav{position:relative; display:block; width:100%; z-index:95;}
nav.super-topnav .options{width:100%; display:flex; align-items:center;}
nav.super-topnav .option{display:flex; align-items:center;}
nav.super-topnav .option-btn{position:relative;}
nav.super-topnav .option-btn > *:first-child{
	display:flex; align-items:center; justify-content:center; white-space:nowrap;
	height:2.75rem; min-width:3.75rem; padding:.25rem .5rem;
	transition:opacity .25s;
}
nav.super-topnav .option-btn:hover > a{opacity:.85;}
nav.super-topnav .option-btn > *:first-child .icon{
	display:flex; align-items:center; justify-content:center;
	height:2.25rem; width:2.25rem; font-size:1rem;
}
nav.super-topnav .option-btn > *:first-child .chev{font-size:1.5rem;}
nav.super-topnav .dropdown{
	position:absolute; top:calc(100% + .5rem); left:0; right:0;
	pointer-events:none; opacity:0; transition:top .3s, opacity .3s;
}
nav.super-topnav .option-btn:hover > .dropdown{pointer-events:auto; top:100%; opacity:1;}
nav.super-topnav .dropdown .items{display:block; width:100%; padding:.25rem 0;}
nav.super-topnav .dropdown .item{
	display:block; width:100%; padding:.25rem .75rem; font-size:1rem; font-weight:500;
	transition:color .25s, background .25s;
}
@media screen and (max-width:991.98px){
	nav.super-topnav .options{display:block;}
	nav.super-topnav .option{width:100%; justify-content:center;}
	nav.super-topnav .option:first-child{padding:.75rem 0;}
}


/* Topnav */
nav.topnav{position:sticky; top:0; left:0; width:100%; z-index:94;}
nav.topnav .options{width:100%; display:flex; align-items:center;}
nav.topnav .option{display:flex; align-items:center;}
nav.topnav .option.option-right{margin-left:auto;}
nav.topnav .logo{display:flex; align-items:center; padding:.75rem 1rem .75rem 0;}
nav.topnav .logo img{display:block; height:3rem; width:auto; margin:0 .75rem 0 0;}
nav.topnav .logo p{font-size:.875rem; font-weight:400; line-height:1.15;}
nav.topnav .option-btn{
	display:flex; align-items:center; justify-content:center; cursor:pointer;
	width:3.5rem; height:4.5rem; padding:.5rem; font-size:1.75rem;
	transition:background .25s, color .25s;
}
nav.topnav .menu-container{display:flex;}
nav.topnav .menu-container .menu{position:relative;}
nav.topnav .menu-container .menu::before{
	content:''; position:absolute; top:calc(50% - .375rem); left:-.75px;
	width:1.5px; height:.75rem; transition:opacity .25s;
}
nav.topnav .menu-container .menu:first-child:before{display:none;}
nav.topnav .menu-container .menu.active:before,
nav.topnav .menu-container .menu.active + .menu:before{opacity:0;}
nav.topnav .menu-container .menu > a{
	display:block; padding:.625rem 1rem; font-size:.875rem; font-weight:400;
	border-radius:1000em; transition:color .25s, background .25s;
}
@media screen and (max-width:1199.98px){
	nav.topnav .hide-tablet{display:none!important;}
}
@media screen and (max-width:575.98px){
	nav.topnav .logo p{display:none;}
}
@media screen and (min-width:1200px){
	nav.topnav .show-tablet{display:none!important;}
}


/* Mega Nav */
nav.mega-nav{position:sticky; top:4.5rem; left:0; width:100%; z-index:94;}
nav.mega-nav > .anchor-container{
	display:none; position:absolute; top:0; left:0; overflow:hidden;
	width:100%; height:calc(100vh - 7.25rem);
}
nav.mega-nav > .anchor-container > .wrapper{
	position:relative; width:100%; height:calc(100vh - 7.25rem);
}
nav.mega-nav .pattern{position:absolute; bottom:-4rem; right:-8rem;}
nav.mega-nav .menu-container{position:relative; width:100%; height:100%; overflow:hidden;}
nav.mega-nav .menu-wrapper{
	display:none; position:relative; padding:0; margin:0; transition:opacity .25s;
}
nav.mega-nav .menu-wrapper.in{display:block; opacity:0;}
nav.mega-nav .menu-wrapper.active{display:block; opacity:1;}
nav.mega-nav .header{width:100%;}
nav.mega-nav .header-wrapper{width:100%; display:flex; align-items:center; padding:1rem 0;}
nav.mega-nav .header .icon{font-size:.875rem; margin:0 .5rem 0 0;}
nav.mega-nav .header .btn-close{
	display:flex; align-items:center; padding:.4375rem .75rem; margin:0 0 0 auto;
	font-size:.9375rem; font-weight:300; transition:opacity .25s;
}
nav.mega-nav .header .btn-close:hover{opacity:.8;}
nav.mega-nav .header .btn-close em{margin:0 .375rem 0 0;}
nav.mega-nav .body{
	display:block; overflow-x:hidden; overflow-y:auto;
	width:100%; height:calc(100vh - 12.5rem); max-height:calc(100vh - 12.5rem);
}
nav.mega-nav .submenu-set{
	width:100%; padding:0 0 1.25rem 0; border-bottom:1px solid transparent;
}
nav.mega-nav .submenu-set:last-child{border-bottom:0;}
nav.mega-nav .submenu{position:relative; padding:0 0 0 1.125rem;}
nav.mega-nav .submenu > a{
	position:relative; display:block; font-size:.9375rem; font-weight:400; padding:.125rem 0;
}
nav.mega-nav .submenu.has-children > a{padding:.125rem 1rem .125rem 0;}
nav.mega-nav .submenu > a::before{
	content:''; position:absolute; top:.375rem; left:-1.125rem;
	width:.625rem; height:.625rem;
}
nav.mega-nav .submenu-toggle{
	position:absolute; top:0; right:0; width:1.25rem; height:1.25rem;
	display:flex; align-items:center; justify-content:flex-end;
	font-size:1.5rem; cursor:pointer; padding:.1875rem 0 0 0;
}
nav.mega-nav .submenu-toggle em{transition:transform .25s;}
nav.mega-nav .submenu.active > .submenu-toggle em{transform:rotate(180deg);}
nav.mega-nav .submenu-container{display:none; width:100%; padding:.125rem 0;}
nav.mega-nav .submenu-container .submenu{padding:0 0 0 .875rem;}
nav.mega-nav .submenu-container .submenu > a{font-size:.875rem;}
nav.mega-nav .submenu-container .submenu > a::before{display:none;}
@media screen and (max-width:1199.98px){
	nav.mega-nav{display:none!important;}
}


/* Sidenav */
nav.sidenav{
	display:none; position:fixed; top:0; right:0; width:340px; height:100vh; z-index:97;
	transform:translateX(340px); transition:transform .5s;
}
nav.sidenav > .wrapper{position:relative; width:100%; height:100%; overflow:hidden;}
nav.sidenav .sidenav-toggle{
	position:absolute; top:0; right:0; width:3.5rem; height:4.5rem; cursor:pointer; z-index:1;
	display:flex; align-items:center; justify-content:center; border-left:1px solid transparent;
}
nav.sidenav .scroll-wrapper{
	width:100%; height:calc(100% - 11rem); max-height:calc(100% - 11rem);
	overflow-x:hidden; overflow-y:auto; margin:4.5rem 0 0 0;
	border-top:1px solid transparent;
}
nav.sidenav .item{display:flex; align-items:center;}
nav.sidenav .menu{position:relative;}
nav.sidenav .menu > a{display:block;}
nav.sidenav .menu > a, nav.sidenav .item{
	position:relative; width:100%; height:auto; text-decoration:none;
	padding:1rem; margin:0; font-size:1rem; font-weight:400;
	border-bottom:1px solid transparent; min-height:3.3125rem; 
	transition:color .25s, background .25s;
}
nav.sidenav .menu.has-children > a{padding-right:3rem;}
nav.sidenav .submenu-toggle{
	position:absolute; top:0; right:0; width:3rem; height:3.3125rem;
	display:flex; align-items:center; justify-content:center;
	font-size:1.5rem; cursor:pointer; transition:background .25s;
}
nav.sidenav .submenu-toggle em{transition:transform .25s;}
nav.sidenav .menu.active > .submenu-toggle em,
nav.sidenav .submenu.active > .submenu-toggle em{transform:rotate(180deg);}
nav.sidenav .submenu{position:relative;}
nav.sidenav .submenu > a{
	display:block; position:relative; width:100%; height:auto; text-decoration:none;
	padding:1rem 1rem 1rem 2rem; margin:0; font-size:.9375rem;
	border-bottom:1px solid transparent; font-weight:400;
	transition:color .25s, background .25s;
}
nav.sidenav .submenu.has-children > a{padding-right:3rem;}
nav.sidenav .submenu .submenu > a{padding:1rem 1rem 1rem 3rem;}
nav.sidenav .submenu-container{display:none;}
nav.sidenav + .sidenav-filter{
	display:none; position:fixed; top:0; left:0; width:100%; height:100vh; z-index:96;
	background:#000000; opacity:0; pointer-events:none; cursor:pointer;
	transition:opacity .5s;
}
@media screen and (max-width:1199.98px){
	nav.sidenav{display:block;}
	nav.sidenav.active{transform:translateX(0);}
	nav.sidenav + .sidenav-filter{display:block;}
	nav.sidenav.active + .sidenav-filter{opacity:.65; pointer-events:all;}
}


/* Option Nav */
nav.option-nav{
	position:fixed; top:calc(50vh - 150px); right:0; z-index:93;
	transform:translateX(105px); transition:transform .25s;
}
nav.option-nav:hover{transform:translateX(0);}
nav.option-nav > .wrapper{position:relative; width:150px;}
nav.option-nav .option-btn{position:relative; width:150px; height:45px;}
nav.option-nav .option-btn.active{z-index:1;}
nav.option-nav .option-icon{
	position:relative; width:100%; height:100%; display:flex; align-items:center;
	transition:color .25s;
}
nav.option-nav .option-icon:not(:first-child){border-top:0;}
nav.option-nav .option-icon::before{
	content:''; position:absolute; top:0; bottom:0; left:0; width:45px; transition:width .3s;
}
nav.option-nav .option-btn.active > .option-icon::before{width:calc(100% - 28px);}
nav.option-nav .option-icon > *{position:relative;}
nav.option-nav .option-icon .icon{
	display:flex; align-items:center; justify-content:center; width:45px; height:45px;
}
nav.option-nav .option-icon .icon img{
	display:block; width:auto; max-width:56%; height:auto; max-height:56%; 
}
nav.option-nav .option-icon .text{padding:0 8px; font-size:14px; font-weight:400;}
nav.option-nav .option-icon .close{
	margin:0 0 0 auto; padding:0 8px; opacity:0; transition:opacity .25s;
}
nav.option-nav .option-btn.active > .option-icon .close{opacity:1;}
nav.option-nav .option-icon .close img{display:block; width:12px; height:auto;}
nav.option-nav .dropdown{
	position:absolute; top:100%; left:0; right:0; pointer-events:none;
	opacity:0; transition:opacity .25s;
}
nav.option-nav:hover .option-btn.active > .dropdown{pointer-events:auto; opacity:1;}
nav.option-nav .dropdown > .wrapper{display:block; width:100%;}
nav.option-nav .dropdown .item{
	width:100%; padding:10px 28px 10px 10px; border:1px solid transparent; border-top:0;
}
nav.option-nav .dropdown .item p{font-size:14px; font-weight:500;}
nav.option-nav .dropdown .btns{margin:5px 0 0 0; display:flex; justify-content:space-between;}
nav.option-nav .dropdown .btns:last-child{margin:2px 0 0 0;}
nav.option-nav .dropdown .btn{
	display:block; padding:6px 2px; text-align:center; font-size:12px; font-weight:500;
	width:calc(50% - 1px);
}
nav.option-nav .dropdown .btn-font-size{
	display:flex; align-items:center; justify-content:center; width:24px; height:40px;
	font-size:16px; font-weight:400; transition:background .25s, color .25s;
}
nav.option-nav .dropdown .btn-font-size[data-size="13"]{font-size:13px;}
nav.option-nav .dropdown .btn-font-size[data-size="20"]{font-size:20px;}


/* Footer */
nav.footer .top-container{position:relative; padding:1.5rem 0 2.5rem 0;}
nav.footer .middle-container{position:relative; padding:1rem 0 2rem 0;}
nav.footer .bottom-container{position:relative; padding:0 0 3.5rem 0;}
nav.footer .footer-icon{display:block; width:100%; text-align:center;}
nav.footer .footer-icon > .icon{
	display:flex; align-items:center; justify-content:center; width:8.5rem; height:8.5rem;
	border-radius:50%; margin:0 auto; transition:background .25s, color .25s, box-shadow .25s;
}
nav.footer .footer-icon:hover > .icon{box-shadow:0px 3px 12px 6px rgba(0,0,0,.2);}
nav.footer .footer-icon > .icon svg{
	display:block; width:auto; max-width:44%; height:auto; max-height:44%;
	transition:fill .25s;
}
nav.footer .title{
	display:block; margin:1.25rem 0 0 0; padding:.3125rem 0;
	font-size:1rem; font-weight:600; transition:color .25s;
}
nav.footer .title:first-child{margin:0;}
nav.footer .item{
	display:block; border-radius:1.25rem; padding:.3125rem 1.5rem .3125rem 0;
	margin:0; font-size:.9375rem; font-weight:400;
	transition:background .25s, color .25s, padding .25s;
}
nav.footer .item:hover{padding-left:.75rem; padding-right:.75rem;}
nav.footer .subitem{
	display:flex; align-items:center; margin:.4375rem 0; padding:.0625rem 0;
	font-size:.875rem; font-weight:400; transition:color .25s;
}
nav.footer .subitem > .chev{
	padding:0 .5rem 0 .25rem; font-size:1rem; transform:translateY(.0625rem);
}
nav.footer .options{
	width:100%; display:flex; align-items:center; justify-content:space-between;
}
nav.footer .option{display:flex; align-items:center; margin:1.25rem 0 0 0;}
nav.footer .logo{display:flex; align-items:center;}
nav.footer .logo > img{display:block; height:4.5rem; width:auto; margin:0 1rem 0 0;}
nav.footer .logo > .text-container{text-align:left;}
nav.footer .v-line{display:block; width:1.5px; height:1rem;}
nav.footer .v-line.sm{height:.75rem;}
nav.footer .copyright{padding:0 0 0 1.5rem;}
@media screen and (max-width:991.98px){
	nav.footer .top-container{padding:1rem 0 2rem 0;}
	nav.footer .middle-container{padding:.5rem 0 1.5rem 0;}
	nav.footer .options{flex-wrap:wrap; justify-content:center;}
	nav.footer .option{
		width:100%; justify-content:center; text-align:center; flex-wrap:wrap;
	}
	nav.footer .copyright{padding:0;}
}
@media screen and (max-width:767.98px){
	nav.footer .logo{justify-content:center; flex-wrap:wrap;}
	nav.footer .logo > img{height:3.5rem; margin:0 0 1rem 0;}
	nav.footer .logo > .text-container{width:100%; text-align:center;}
	nav.footer .logo .d-flex{justify-content:center;}
}
@media screen and (max-width:575.98px){
	nav.footer .middle-container{padding:0 0 1rem 0;}
	nav.footer .footer-icon > .icon{width:7rem; height:7rem;}
	nav.footer .logo .d-flex{justify-content:center; }
	nav.footer .v-line, nav.footer .v-line.sm{width:100%; height:0; margin:.125rem 0 0 0;}
}


/* Back to Top */
.back-to-top{
	display:block; text-decoration:none; width:3rem; height:3rem; border-radius:0;
	text-align:center; line-height:3.25rem; font-size:1.625rem; opacity:0; z-index:90;
	position:fixed; bottom:1rem; right:1rem; border:1.8px solid transparent;
	pointer-events:none; transition:opacity .3s;
}
.back-to-top.active{opacity:1; pointer-events:all;}
.back-to-top.active:hover{opacity:1;}
.back-to-top > i{transform:translateY(-.1875rem);}
